/* #app {
  background-color: #f4f7f8;
  background-image:
    radial-gradient(at 77% 0%, hsla(225, 89%, 63%, 1) 0, transparent 50%),
    radial-gradient(at 50% 15%, hsla(338, 78%, 57%, 1) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0, transparent 0%),
    radial-gradient(at 0% 0%, hsla(4, 69%, 60%, 1) 0, transparent 50%);
} */

/* body {
  background-color: #f1f8ff;
} */

img.title {
  display: flex;
  float: left;
  position: absolute;
  left: 20px;
  width: 30px;
  top: 10px;
  opacity: 0.97;
  filter: drop-shadow(7px 4px 13px rgb(47, 47, 57, 0.2)) drop-shadow(2px 1.6px 2px rgb(47, 47, 57, 0.2));
}

.nav {
  position: absolute;
  right: 0px;
  height: 90px;
  width: 100%;
  text-align: right;
  top: 5px;
  font-size: 18px;
  background: none;
  line-height: 1.5;

}

router-link {
  font-weight: thin;
}

.nav>.nav-header {
  display: inline;
  background: none;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  background: none;
  padding: 8px 8px 8px 8px;
}

.nav>.nav-btn {
  display: none;
  background: none;
}

.nav>.nav-links {
  display: inline;
  background: none;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 3px 26px 0px 0px;
  color: var(--darkfrey);
  opacity: 1;
  background: none;
  text-decoration: none;
}

.nav>.nav-links>a:hover {
  background: none;
  color: var(--light-grey);
  /* #3030309a; */
  /* text-shadow: 7px 3px 14px hsla(0, 0%, 30%, 0.4),
    0px -1px 7px hsl(210, 8%, 65%), 2px 1.6px 5px hsl(0, 0%, 25%),
    -4px -3px 6px hsl(210, 8%, 100%), -4px -3px 6px hsl(210, 8%, 100%); */
}

.nav>.nav-links>a:active {
  color: #3030309a;
}


.nav>#nav-check {
  display: none;
  background: none;
}


/*mobile state*/
@media screen and (min-width: 400px) and (max-width: 470px) {
  .nav>.nav-links>a {
    padding: 5px 18px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}

/*mobile state*/
@media screen and (min-width: 340px) and (max-width: 390px) {
  .nav {
    font-size: 16px;
    top: 5px;
  }

  .nav>.nav-links>a {
    padding: 5px 16px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}

/*mobile state*/
@media screen and (min-width: 300px) and (max-width: 340px) {
  .nav {
    font-size: 13px;
    right: 0px;
  }

  .nav>.nav-links>a {
    padding: 10px 12px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}