
img.title {
  display: flex;
  float: left;
  position: absolute;
  left: 20px;
  width: 30px;
  top: 10px;
  opacity: 0.97;
  filter: drop-shadow(7px 4px 13px rgb(47, 47, 57, 0.2)) drop-shadow(2px 1.6px 2px rgb(47, 47, 57, 0.2));
}

.nav {
  position: absolute;
  right: 0px;
  height: 90px;
  width: 100%;
  text-align: right;
  top: 5px;
  font-size: 18px;
  background: none;
  line-height: 1.5;

}

router-link {
  font-weight: thin;
}

.nav>.nav-header {
  display: inline;
  background: none;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  background: none;
  padding: 8px 8px 8px 8px;
}

.nav>.nav-btn {
  display: none;
  background: none;
}

.nav>.nav-links {
  display: inline;
  background: none;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 3px 26px 0px 0px;
  color: var(--darkfrey);
  opacity: 1;
  background: none;
  text-decoration: none;
}

.nav>.nav-links>a:hover {
  background: none;
  color: var(--light-grey);
}

.nav>.nav-links>a:active {
  color: #3030309a;
}


.nav>#nav-check {
  display: none;
  background: none;
}


/*mobile state*/
@media screen and (min-width: 400px) and (max-width: 470px) {
  .nav>.nav-links>a {
    padding: 5px 18px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}

/*mobile state*/
@media screen and (min-width: 340px) and (max-width: 390px) {
  .nav {
    font-size: 16px;
    top: 5px;
  }

  .nav>.nav-links>a {
    padding: 5px 16px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}

/*mobile state*/
@media screen and (min-width: 300px) and (max-width: 340px) {
  .nav {
    font-size: 13px;
    right: 0px;
  }

  .nav>.nav-links>a {
    padding: 10px 12px 0px 0px;
  }

  img.title {
    top: 10px;
    left: 16px;
  }
}