/* time stamp */
p.stamp {
  padding-top: 20%;
  color: var(--light-grey);
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

#info {
  color: var(--light-grey);
}


img.emoji-3d{
  width:26px;
  vertical-align:top;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 0px;
  display:inline-block;
}

img.emoji-3d-links{
  width:24px;
  vertical-align:middle;
  margin: -2px;
}

/* general messages section */
.chat {
  display: flex;
  flex-direction: column;
  margin: 18px;
}

/* placement for messages sections */
.messages {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
}

/* shaping of messages */
.message {
  border-radius: 29px;
  padding: 5px 20px;
  text-align: left;
  display: inline-block;
  font-weight: normal;
  background: var(--imessageblue);
}

/* gray messages  */
.yours {
  align-items: flex-start;
}

/* gray messages  */
.yours .message {
  color: #353838;
  max-width:261px;
  position: relative;
  background: var(--imessagegrey);
  box-shadow:  6px 6px 18px #d6d6d6,
               -3px -6px 44px rgb(255, 255, 255, 0.5);
}


/* gray messages  */
.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -10.2px;
  height: 25px;
  width: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  background: radial-gradient(85% 190% at top left,
      transparent 50%,
      #e9e9eb 51%);
  transform: rotate(2deg);
}

/* blue messages  */
.mine {
  align-items: flex-end;
}

.messages .yours {
  /* padding-top: 2px; */
}

.yours-padding {
  /* padding:1px; */
}
/* blue messages  */
.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -10.2px;
  height: 25px;
  width: 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 5px;
  background: radial-gradient(85% 190% at top right,
      transparent 50%,
      rgb(0, 119, 254) 51%);
  transform: rotate(2deg);
}

/* blue messages  */

.mine .message {
  opacity: 1;
  color: #dee2e6;
  text-shadow: -1px 2px 8px rgb(255, 255, 255, 0.25);
  position: relative;
  box-shadow: 2px 3px 16px rgba(0, 119, 254, 0.8), rgba(45, 35, 66, 0.3) 0 2px 4px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px;
}

/* blue message link list outer class */
.f-three-column {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
}

.message .last p  {
  color: #e5dee6;
  background-repeat: no-repeat;
  font-weight: normal;
  font-weight: 400;
  line-height: 10px;
}

a {
  color: #dee2e6;
  /* font-family: "Segoe UI", sans-serif; */
}

.message a:hover {
  text-shadow: 1px 0px 27px #dee2e6, -1px -2px 4px hsl(210, 8%, 100%);
  transition: 0.5s;
}


/* padding of link body ul*/
.last ul {
  padding: 0px 15px;
}

.last ul .last li a:hover {
  text-shadow: 1px 0px 27px #dee2e6, -1px -2px 4px hsl(210, 8%, 100%);
  transition: 0.5s;
}

/*mobile state*/
@media screen and (max-width: 600px) {

  p.stamp {
    margin-left: 0px;
    font-size: 18px;
  }

  /* placement for messages sections */
  .messages {
    font-size: 18px;
  }
}
