body, .App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}



:root {
  --dark-grey:  #2e2e2e;
  --light-grey:  #949496;
  --tertiary:  #1d95d1;
  --imessageblue:#0077fe;
  --imessagegrey: #e9eae9;
  --white: #ffffff;
  --background-color:#f6f6f8;
  --card-color:#fdfdfd;
}


h1,h4, h2 {
  font-family: "Segoe UI", sans-serif;
}


p, span, figcaption {
  font-family: "Segoe UI", sans-serif;
}

button {
  font-family: "Segoe UI", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
