.arrowPacman {
    --arrow-width: 25px;
    --arrow-spacer: 4px;
    --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));
    overflow: hidden;
    position: absolute;
    right: -0.2em;
    top: 50%;
    transform: translate(-40%, -40%);
    width: var(--arrow-plus-spacer);
  }
  .arrowPacman svg {
    height: 16px;
    width: var(--arrow-width);
    
  }
  .arrowPacman svg:last-of-type {
    margin-left: var(--arrow-spacer);
  }
  
  .arrowPacman-clip {
    align-items: center;
    display: flex;
    overflow: hidden;
    transform: translateY(-3px) translateX(calc(var(--arrow-plus-spacer) * -1));
    width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
  }
  
img.rocket-img {
  width: 27px;
}


  @-webkit-keyframes pacman {
    to {
      transform: translateX(10px) translateY(-15px);
    }
  }
  
  @keyframes pacman {
    to {
      transform: translateX(10px) translateY(-15px);
    }
  }
  button {
    background-color: rgba(0, 119, 254, 1.0);
    /* #255bfd; */
    border: 0;
    border-radius: 25px;
    box-shadow:  2px 3px 16px rgba(0, 119, 254, 0.8), rgba(45, 35, 66, 0.3) 0 2px 4px,rgba(45, 35, 66, 0.2) 0 7px 13px -3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    padding-left: 18px;
    padding-right: 40px;
  }

  button:hover {
    box-shadow:  2px 5px 16px rgba(0, 119, 254, 0.8), rgba(45, 35, 66, 0.3) 0 4px 4px,rgba(45, 35, 66, 0.2) 0 9px 13px -3px;
    transform: translateY(-2px);
  }

  button:active{
    box-shadow: #0077fe 0 3px 7px inset, 0px 0px 8px rgba(0, 119, 254, 0.8);
    transform: translateY(2px);
  }

  
  button:hover .arrowPacman-clip {
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-name: pacman;
            animation-name: pacman;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
            animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
  }

  